* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  height: 100vh;
  background-color: gray;
  text-align: center;
}

h1 {
  padding-top: 100px;
}
.child_start {
  margin: 100px auto;
  width: 50%;
  height: 300px;
}
/* ///////////////////////// */
.level_easy {
  display: none;
  height: 100vh;
  background-color: grey;
  text-align: center;
}
.child_inner {
  margin: 120px auto;
}
.btn_level_easy,
.btn_level_difficult {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
}
.btn_level_easy:hover {
  background-color: black;
  color: white;
}
.btn_level_difficult:hover {
  background-color: black;
  color: white;
}
.child_1 {
  height: 100vh;
  background-color: antiquewhite;
}
.child_1_inner {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.random_info {
  display: inline-block;
  margin-top: 200px;
  font-size: 30px;
  border-radius: 10px;
}
.down_text {
  font-size: 40px;
}
.block_1,
.block_2,
.block_3 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
}
/* ///////////////////////// */
.level_difficult {
  display: none;
  height: 100vh;
  background-color: grey;
  text-align: center;
}

.difficult_block {
  width: 1400px;
  margin: 0px auto;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.difficult_random_info {
  display: inline-block;
  margin-top: 200px;
  font-size: 30px;
  border-radius: 10px;
}
.difficult_down_text {
  font-size: 40px;
}
.difficult_block_1,
.difficult_block_2,
.difficult_block_3,
.difficult_block_4,
.difficult_block_5,
.difficult_block_6 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
}

.difficul_inner {
  height: 100vh;
  background-color: antiquewhite;
}
